.chooseUs{
    background-color: black;
    color: white;
    padding: 5em;
}

.chooseUsTop{
    width: 70%;
    margin-bottom: 1em;
}

.chooseUsHeader{
    margin-bottom: 0.75em;
}

.chooseUsMiddle{
    display: grid;
    grid-template-columns: 65% auto;
}

.chooseUsMiddleLeft{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    padding: 0 1em 0 0;
}

.chooseUsImage{
    margin: 2em 0;
    width: 100%;
    box-shadow: 1em 1em white, 1em -1em white;
}

.contactUsButton{
    background-color: rgb(252, 232, 11);
    border: none;
    border-radius: 3px;
    color: white;
    padding: 1em 3em;
    font-weight: 700;
}

.outerBox{
    margin-top: 1em;
}

.layerBox{
    display: grid;
    grid-template-columns: 30% auto;
}

.layer{
    display: grid;
    grid-template-columns: auto auto;
    margin: 1em 0;
}

.info{
    margin: 1em 0;
}

.info p{
    margin: 1em 0 ;
}

.icon{
    border-radius: 50%;
    height: 4em;
    width: 4em;
    background-color: rgb(252, 232, 11);
    justify-self: center;
    padding: 0.125em;
    text-align: center;
    margin: 1em 0;
}

.iconPng{
    width: 80%;
    height: 3em;
    margin-top: 10%;
}