.banner {
    width: 100%;
    margin-top: 0.25rem;
    box-shadow: 2em 2em 4em gray;
}

.bannerBox{
    position: relative;
    display: inline-block;
}

.bannerText{
    position: absolute;
    margin: 0 auto;
    z-index: 999;
    top: 25%;
    color: white;
    text-align: center;
}

.imageContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
    position: absolute;
    top: 70%;
    padding: 0 5em;
}

.bannerButton{
    background-color: transparent;
    border: 2px solid rgb(252, 232, 11);
    border-radius: 2em;
    padding: 0.5em 3em;
    color: white;
    margin-top: 2em;
}

.bannerPara{
    margin: 2em 10em 0;
}

.bannerHeading{
    width: 45%;
    margin: 0 auto;
    font-size: 3em;
    font-weight: bolder;
}